.container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.content{
    border: 2px solid red;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: aqua;


}